  
  body {
    background: url("IMG_4594.jpeg") no-repeat fixed left;
    background-size: 110% 150%;
  }

  h1 {
    font-family: 'Monoton', cursive;
    color: white; 
    text-align: center;
    font-size: 100px;
  }

  ul {
    list-style-type: none;
    margin: 10;
    padding: 0;
    text-align: center;
  }
  
  li {
    display: inline;
    outline: solid magenta 1px;
    margin: 15px;
    padding: 3px;
    font-family: 'Montserrat Alternates', sans-serif;
  }

a {
    color: white;
}

div.row > nav {
    padding: 10px;
    text-align: left;
  }

  div.row > div, header {
    text-align: left;
}

button {
  color: magenta;
}

form {
  color: white;
  font-family: 'Monserrat Alternates', sans-serif;
  padding: 20px;
  margin: 20px;
}


  .clearfix::after {
    content: " ";
    display: block;
    clear: both;
  }

  font-family: 'Monoton', cursive;


